:root{
    --main-color: #C4966B;
    --nav-color: #C4966B;
    --bgn-color: #e8f3f1;
    --beige: #FCEFD6;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all .5s ease-in;
    scroll-behavior: smooth;
    scroll-padding-top: 16vh;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background-color: var(--bgn-color);
}
section{
    padding:2rem 7%;
}
.btn {
    display: inline-block;
    text-align: center;
    background-color:#D78761 ;
    color: white;
    font-size: 1.7rem;
    padding: 0.8rem 2.5rem;
    margin-top: 1rem;
    cursor: pointer;
}
.btn:hover{
    letter-spacing: 0.2rem;
}
.title{
    text-shadow: 2px 2px 0 #A03D25, -2px -2px 0 #A03D25, -2px 2px 0 #A03D25, 2px -2px 0 #A03D25;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-bottom: 3.5rem 0;
    font-size: 4rem;
}
.title span{
    color:#D78761;
}

.header{
    background-color: #A03D25;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    position: relative;
    top:0;
    left: 0;
    right: 0;
    height: 16vh;
    /* z-index: 1000; */
}
.header .logo img{
    height: 9.5rem;
    border-radius: 50%;
}
.header .navbar a{
    color: #fff;
    font-size: 1.8rem;
    margin: 0 1rem;
}
.header .navbar a:hover{
    color: var(--beige);
    border-top: 0.3rem solid var(--beige);
    border-bottom: 0.3rem solid var(--beige);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.header .icons{
    display: flex;
}
.header .icons div{
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
    margin-left: 2rem;
}
.header .icons div:hover{
    color: var(--beige);
}
.header .icons .menu-icon{
    display: none;
}
/* Search Box */
.header .searching {
    display: flex;
    align-items: center;
    position: absolute;
    top: 115%;
    right: -100%;
    width: 45rem;
    height: 4.5rem;
    background-color: #fff;
}
.header .searching.active{
    right: 7%;

}
.header .searching input{
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    color: #A03D25;
    text-transform: none;
}
.header .searching label{
    color: #D78761;
    font-size: 2rem;
    padding-right: 1.3rem;
    cursor: pointer;
}
.header .searching label:hover{
    color: #A03D25;
}
/* Cart part */
.header .cart-items-box{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 35rem;
    background-color: white;
    height: 80vh;
    border: solid 1px black;
    padding: 0.8rem;
}
.header .cart-items-box.active{
    right: 0%;
}
.header .cart-items-box .cart-item{
    display: flex;
    align-items: center;
    margin: 2.5rem 0;
    position: relative;
    gap: 1rem;
}
.header .cart-items-box a{
    width: 100%;
}
.header .cart-items-box .cart-item img{
    width: 5rem;   
}
.header .cart-items-box .cart-item span{
    position: absolute;
    top: 5%;
    right: 4%;
    font-size: 2rem;
    color: black;
    cursor: pointer;
}
.header .cart-items-box .cart-item span:hover{
    color:#A03D25;
}
.header .cart-items-box .cart-item .content h3{
    font-size: 1.5rem;
    color: #C4966B;
    padding-bottom: 0.8rem;
}
.header .cart-items-box .cart-item .content .price{
    font-size: 1.5rem;
    color: #D78761;
}
/* Start of Home Section */
.home{
    display: flex;
    align-items: center;
    min-height: 84vh;
    margin-top: 0vh;
    background-color: #D78761;
    background-image: url("./images/background.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.home .hero{
    width: 60rem;
}
.home .hero h3{
    font-size:6rem;
    text-transform: uppercase;
    color: white;
    text-shadow: 8px 8px 10px black;
}
.home .hero p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 3.2rem;
    padding: 1rem 0;
    color: white;
}
/* Cake Section */
.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.cakes .wrapper .cake-card{
    background-color: #B7613F;
    padding: 3rem 2rem;
    text-align: center;
    transform-origin: top center;
}
.cakes .wrapper .cake-card:hover{
    transform: scaleY(1);
    background-color: #A03D25;
}
.cakes .wrapper .cake-card:hover *{
    color:#FCEFD6;
}
.cakes .wrapper .cake-card img{
    width: 100%;
}
.cakes .wrapper .cake-card h3{
    color: white;
    font-size: 2rem;
    padding: 1rem 0;
}
.cakes .wrapper .cake-card .price{
    color: white;
    font-size: 1.8rem;
    padding: 0.5rem 0;
}
.cakes .wrapper .cake-card .price span{
    color: white;
    font-size: 1.5rem;
    text-decoration: line-through;
}
/* About Us Section*/
.about .container{
    display:flex;
    justify-content: center;
    background-color: #D9AC92;
    flex-wrap: wrap;
}
.about .container .img{
    flex: 1 1 45rem;
}
.about .container .img img{
    width: 100%;
}
.about .container .content{
    flex: 1 1 45rem;
    padding: 2rem;
}
.about .container .content h3{
    font-size: 2.9rem;
    color: white;
    padding: 5rem 0;
}
.about .container .content p{
    font-size: 1.5rem;
    color: #A03D25;
    padding: 1rem 0;
    line-height: 2.2rem;
    font-style: italic;
}
/*Review Section*/
.review .wrapper .review-card{
    border: solid;
    border-color:#B7613F;
    background-color: white;
    text-align: center;
    padding: 3rem 2rem;
}
.review .wrapper .review-card img{
    height: 5rem;
}
.review .wrapper .review-card p{
    font-size: 1.6rem;
    line-height: 2rem;
    color: grey;
    padding: 2rem;
}
.review .wrapper .review-card:hover p{
    color: black;
}
.review .wrapper .review-card .customer{
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    border-radius: 50%;
}
.review .wrapper .review-card:hover .customer{
    transform:scale(1.1)
}
.review .wrapper .review-card h3{
    padding:1rem 0rem;
    font-size: 2rem;
    color: #B7613F;
    text-shadow: #D9AC92;
}
.review .wrapper .review-card .stars i{
    font-size: 1.5rem;
    color:#D78761;
    padding: 0.8rem 0;
}
/*Contact us section*/
.contact .contents{
    display: flex;
    background-color: #D9AC92;
    flex-wrap: wrap;
    gap: 1rem;
}
.contact .contents iframe{
    height: 50rem;
    flex: 1 1 45rem;
    object-fit: cover;
}
.contact .contents form{
    height: 50rem;
    flex: 1 1 45rem;
    text-align: center;
    padding: 5rem 2rem;
}
.contact .contents form h3{
    text-transform: uppercase;
    color: white;
    font-size: 3.5rem;
    padding: 1.5rem 0;
}
.contact .contents form .input-box{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border: solid;
    border-color: #B7613F;
}
.contact .contents form .input-box span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}
.contact .contents form .input-box input{
    background-color: #D9AC92;
    text-transform: none;
    color: white;
    width: 100%;
    padding: 2rem;
    font-size: 1.8rem;
}
/* FAQ section */
.wrapper2{
    max-width: 70%;
    margin: auto;
    display: block;
}
.accordion{
    background-color: #8a401e;
    color: #FCEFD6;
    cursor: pointer;
    font-size: 2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.accordion i{
    font-size: 1.6rem;
}
.active, .accordion:hover{
    background-color: #B7613F;
}
.pannel{
    padding: 0 2.5rem 2rem;
    background-color: #C4966B;
    overflow: hidden;
    background-color: #C4966B;
    display: none;
}
.pannel p{
    color:#FCEFD6;
    font-size: 1.5rem;
    line-height: 1.4;
    margin-top: 1rem;
    font-style: italic;
}
.faq {
    border: 1px solid #B7613F;
    margin: 10px 0;
}
.faq .pannel{
    display: none;
}
.faq.active .pannel{
    display: block;
}

/* Footer section*/
footer{
    background-color: #A03D25;
    text-align: center;
}
.footer .social-media{
    padding: 1rem 0;
}
.footer .social-media a{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    font-size: 2rem;
    color: white;
    border: solid;
    border-color: #C4966B;
    margin: 0.5rem;
}
.footer .social-media a:hover{
    background-color: #C4966B;
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footer .links a{
    padding: 0.7rem 2rem;
    color: white;
    border: solid;
    border-color: #C4966B;
    font-size: 2rem;
}
.footer .links a:hover{
    background-color: #D9AC92;
}
.footer .credits{
    font-size: 2rem;
    color: white;
    font-weight: lighter;
    padding: 1.5rem;
}
.footer .credits span{
    color:#D9AC92;
}

/* tablets and small laptops*/
@media (max-width:992px){
    html{
    font-size:55%;
    }
    .header .logo img{
    height: 8rem;
    border-radius: 50%;
    }
}
/*small devices (tablets)*/
@media (max-width:768px){
    section{
        padding:2rem;
    }
    .header .icons .menu-icon{
        display:inline-block;
    }
    .home{
        background-position: left;
    }
    .home .hero h3{
        font-size: 4.5rem;
    }
    .home .hero p{
        font-size:1.5rem;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 30rem;
        background-color: #B7613F;
        height: 80vh;
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        color:#4e230f;
        display: block;
        font-size: 2rem;
        padding: 0.8rem;
        margin: 1.5rem;
    }
    .header .searching{
        width: 92%;
    }
    .header .searching .active{
        right: 4rem;
    }
}
/*smart phones */
@media (max-width: 550px){
    html{
        font-size: 50%;
    }
}


